<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span data-translate="colorSettings">Color Settings</span>
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Set the color in which translations appear."></span>
      </div>
      <style>
       p.big {
          line-height: 1.5;
       }
      </style>
      <div class="panel-body" style="min-height: 216px">
        <div class="input-group">
          <span class="input-group-addon" data-translate="textColor">Text Color</span>
          <input id="text-colorpicker" type="text" ng-model="opctrl.textColor" class="form-control"/>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon" data-translate="backgroundColor">Background Color</span>
          <input id="bg-colorpicker" type="text" ng-model="opctrl.backColor" class="form-control"/>
        </div>
        <br>
        <p>
          This is an
          <span style="{{opctrl.translatedWordStyle}}" data-translate="awesome">awesome</span>
          style!
        </p>
        <br>
        <p class="big">
          <span class="label label-danger"><span data-translate="note">Note</span>:</span>
          <span style = "color: rgba(86, 179, 90, 1.00);">rgba(86, 179, 90, 1.00), </span>
          <span style = "color: rgba(164, 59, 64, 1.00);">rgba(164, 59, 64, 1.00)</span>
          <span data-translate="and">and</span> <span style = "color: rgba(209, 29, 29, 1.00)">rgba(209, 29, 29, 1.00)</span>
          <span data-translate="haveBeenReservedForWordsIn">have been reserved for words in</span>
          <span style = "color: rgba(86, 179, 90, 1.00);" data-translate="easy"> easy</span>,
          <span style = "color: rgba(164, 59, 64, 1.00);" data-translate="normal"> normal</span>
          and <span style = "color: rgba(209, 29, 29, 1.00)" data-translate="hard"> hard </span>
          buckets respectively
        </p>
        <br>
        <p>
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit" ng-click="opctrl.defaultColor()" data-translate="default">Default</button>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span data-translate="wordConfiguration">Word Configuration</span>
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Configure word length and set n-grams"></span>
      </div>
      <div class="panel-body" style="min-height: 216px">
        <form class="form-inline">
          <div class="form-group">
            <label for="min-word-len"><span data-translate="minimumWordLength">Minimum word length</span>
            </label>
            <input type="number" id="min-word-len" class="form-control" ng-model="opctrl.minWordLength" ng-change="opctrl.setMinWordLength()">
          </div>
        </form>
        <form class="form-inline">
          <div class="form-group">
            <label><div><br>Translated Sequence should have :</div></label><br><br>
            <label for="ngram-min"><span><br>Atleast </span></label>
            <input type="number" id="ngram-min" class="form-control" style="width:80px" ng-model="opctrl.ngramMin" ng-change="opctrl.setNgramMin()">
            <label><span data-translate="words">words</span></label><br><br>
            <label for="ngram-max"><span>Atmost</span>
            </label>
            <input type="number" id="ngram-max" class="form-control" style="width:80px" ng-model="opctrl.ngramMax" ng-change="opctrl.setNgramMax()">
            <label><span data-translate="words">words</span></label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary table-panel">
      <div class="panel-heading">
        <span data-translate="userDefinedTranslations">User Defined Translations</span>
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Define translations for specific words. These words will override normal translations"></span>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <input type="text" ng-model="opctrl.original" class="form-control">
          <span class="input-group-addon">:</span>
          <input type="text" ng-model="opctrl.translated" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="submit" ng-click="opctrl.addUserDefinedTranslation()" data-translate="add">Add</button>
          </span>
        </div>
      </div>
      <div style="height: 300px; overflow: scroll;">
        <table class="table table-list">
          <thead>
            <tr>
              <th><span data-translate="original">Original</span></th>
              <th><span data-translate="translated">Translated</span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr lazy-scroll="paginationFuntion()" lazy-scroll-trigger="80" ng-repeat="translation in opctrl.userDefinedTranslationList">
              <td>{{translation[0]}}</td>
              <td>{{translation[1]}}</td>
              <td>
                <span class="pull-right">
                  <button class="btn btn-warning" ng-click="opctrl.removeUserDefinedTranslation(translation[0])">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary table-panel">
      <div class="panel-heading">
        <span data-translate="playbackSettings">Playback Settings</span>
        <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" data-placement="bottom" title="Audio Settings for speaking translated words"></span>
        <button type="button" data-toggle="modal" data-target="#playbackModal" class="btn btn-warning pull-right btn-xs" style="margin-right: 5px">
          <span data-translate="videoTutorial">Video Tutorial</span>
        </button>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <span id="lang_engine" class="input-group-addon locale" data-translate="voiceName">Voice Name</span>
          <select id="voice" name="voice" class="form-control" ng-change="opctrl.updatePlaybackOptions()" ng-model="opctrl.voiceName" style="max-width: 160px"><option value="Allison">Allison</option><option value="Agnes">Agnes</option><option value="Albert">Albert</option><option value="Alex">Alex</option><option value="Alice">Alice</option><option value="Alva">Alva</option><option value="Amelie">Amelie</option><option value="Anna">Anna</option><option value="Bad News">Bad News</option><option value="Bahh">Bahh</option><option value="Bells">Bells</option><option value="Boing">Boing</option><option value="Bruce">Bruce</option><option value="Bubbles">Bubbles</option><option value="Carmit">Carmit</option><option value="Cellos">Cellos</option><option value="Damayanti">Damayanti</option><option value="Daniel">Daniel</option><option value="Deranged">Deranged</option><option value="Diego">Diego</option><option value="Ellen">Ellen</option><option value="Fiona">Fiona</option><option value="Fred">Fred</option><option value="Good News">Good News</option><option value="Hysterical">Hysterical</option><option value="Ioana">Ioana</option><option value="Joana">Joana</option><option value="Junior">Junior</option><option value="Kanya">Kanya</option><option value="Karen">Karen</option><option value="Kathy">Kathy</option><option value="Kyoko">Kyoko</option><option value="Laura">Laura</option><option value="Lekha">Lekha</option><option value="Luciana">Luciana</option><option value="Maged">Maged</option><option value="Mariska">Mariska</option><option value="Mei-Jia">Mei-Jia</option><option value="Melina">Melina</option><option value="Milena">Milena</option><option value="Moira">Moira</option><option value="Monica">Monica</option><option value="Nora">Nora</option><option value="Paulina">Paulina</option><option selected="" value="Pipe Organ">Pipe Organ</option><option value="Princess">Princess</option><option value="Ralph">Ralph</option><option value="Samantha">Samantha</option><option value="Sara">Sara</option><option value="Satu">Satu</option><option value="Sin-ji">Sin-ji</option><option value="Tessa">Tessa</option><option value="Thomas">Thomas</option><option value="Ting-Ting">Ting-Ting</option><option value="Trinoids">Trinoids</option><option value="Veena">Veena</option><option value="Vicki">Vicki</option><option value="Victoria">Victoria</option><option value="Whisper">Whisper</option><option value="Xander">Xander</option><option value="Yelda">Yelda</option><option value="Yuna">Yuna</option><option value="Zarvox">Zarvox</option><option value="Zosia">Zosia</option><option value="Zuzana">Zuzana</option><option value="Google Deutsch">Google Deutsch</option><option value="Google US English">Google US English</option><option value="Google UK English Female">Google UK English Female</option><option value="Google UK English Male">Google UK English Male</option><option value="Google español">Google español</option><option value="Google español de Estados Unidos">Google español de Estados Unidos</option><option value="Google français">Google français</option><option value="Google हिन्दी">Google हिन्दी</option><option value="Google Bahasa Indonesia">Google Bahasa Indonesia</option><option value="Google italiano">Google italiano</option><option value="Google 日本語">Google 日本語</option><option value="Google 한국의">Google 한국의</option><option value="Google Nederlands">Google Nederlands</option><option value="Google polski">Google polski</option><option value="Google português do Brasil">Google português do Brasil</option><option value="Google русский">Google русский</option><option value="Google&nbsp;普通话（中国大陆）">Google&nbsp;普通话（中国大陆）</option><option value="Google&nbsp;粤語（香港）">Google&nbsp;粤語（香港）</option><option value="Google 國語（臺灣）">Google 國語（臺灣）</option></select>
        </div>
        <br>
        <form class="form">
          <div class="form-group">
            <label>
                <span id="lang_volume" class="locale" data-translate="defaultVolumeLevel">Default Volume Level</span>
                <input id="volume" ng-model="opctrl.volume" ng-change="opctrl.updatePlaybackOptions()" type="range" min="0.2" max="1.0" value="0.5" step='0.1'>
            </label>
          </div>
          <div class="form-group">
            <label>
                <span id="lang_rate" class="locale" data-translate="speechRate">Speech rate</span>
                <input id="rate" ng-model="opctrl.rate" ng-change="opctrl.updatePlaybackOptions()" type="range"  min="0.5" max="4.0" value="1.0" step="0.1">
            </label>
          </div>
          <div class="form-group">
            <label>
                <span id="lang_pitch" class="locale" data-translate="pitch">Pitch</span>
                <input id="pitch" type="range" ng-change="opctrl.updatePlaybackOptions()" ng-model="opctrl.pitch" min="0.0" max="2.0" value="1.0" step="0.2">
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Danger Zone   -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <span data-translate="dangerZone">Danger Zone</span>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="pull-right">
            <button class="btn btn-danger" data-toggle="modal" data-target="#confirmConfig">
              Reset
            </button>
          </span>
          <h5 class="list-group-item-heading"><strong data-translate="resetConfiguration">Reset Configuration</strong></h5>
          <p class="list-group-item-text" data-translate="resetConfigurationDescription">This action will reset all the options to default. You will lose all your settings, saved data and keys. This action is irreversible.</p>
        </li>
        <li class="list-group-item">
          <span class="pull-right">
            <button class="btn btn-danger" data-toggle="modal" data-target="#confirmKeys">
              <span data-translate="delete">Delete</span>
            </button>
          </span>
          <h5 class="list-group-item-heading"><strong data-translate="deleteKeys">Delete Keys</strong></h5>
          <p class="list-group-item-text" data-translate="deleteDescription">This action will delete all you translator keys. This is an irreversible action.</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="confirmConfig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" data-translate="confirmReset">Confirm Reset</h4>
      </div>
      <div class="modal-body">
        <span data-translate="confirmResetBody">Are you sure you want to reset all the data. Please create a backup if you want to restore your data in the future.</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span data-translate="cancel">Cancel</span></button>
        <button type="button" class="btn btn-primary" ng-click="opctrl.resetConfig()" data-dismiss="modal"><span data-translate="yes">Yes</span></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmKeys" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span data-translate="confirmDelete">Confirm Delete</span></h4>
      </div>
      <div class="modal-body"> 
        <span data-translate="confirmDeleteBody">Are you sure you want to remove all the keys. Please create a backup if you want to restore your keys in the future.</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span data-translate="cancel">Cancel</span></button>
        <button type="button" class="btn btn-primary" ng-click="opctrl.deleteKeys()" data-dismiss="modal"><span data-translate="yes">Yes</span></button>
      </div>
    </div>
  </div>
</div>

<!--Youtube Video Modals-->

<div id="playbackModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <iframe src="https://player.vimeo.com/video/209929251?byline=0" width="100%" height="80%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
